<mat-card class="title_center">
  <mat-card-title>Progress Board</mat-card-title>
</mat-card>

<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{nextFeatureUpdate.date}}
      </mat-panel-title>
      <mat-panel-description>
        {{nextFeatureUpdate.description}}
        <mat-icon>pending</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> {{nextFeatureUpdate.detail}} </p>
  </mat-expansion-panel>

  <ng-container  *ngFor="let update of pastFeatureUpdates">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{update.date}}
        </mat-panel-title>
        <mat-panel-description>
          {{update.description}}
          <mat-icon>check_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> {{update.detail}} </p>
    </mat-expansion-panel>
  </ng-container>

</mat-accordion>


<router-outlet />