<mat-card class="title_center">
  <mat-card-title>Progress Board</mat-card-title>
</mat-card>

<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        May 23, 2024
      </mat-panel-title>
      <mat-panel-description>
        Add sonarqube to pipeline
        <mat-icon>check_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Sonarqube added to pipeline for  
      both backend and frontend.
    </p>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        May 22, 2024
      </mat-panel-title>
      <mat-panel-description>
        Website is up and running
        <mat-icon>check_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Website is up and running. 
      the backend service is responding. 
      new collaborators are added to the project.
      Pipeline for deployment is created in cloudbuild
    </p>

  </mat-expansion-panel>
  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Upcoming
      </mat-panel-title>
      <mat-panel-description>
        API Specification
        <mat-icon>check_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

</mat-accordion>
